<div ng-init="init()"></div>

<div class="page-header">
    <b><span class="glyphicon glyphicon-cloud"></span> Network status </b>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <span class="glyphicon glyphicon-time"></span>&nbsp;Refresh&nbsp;
            <div class="btn-group" dropdown>
                <button type="button" class="btn" ng-click="refreshRateSubmit()">{{selectedRate.name}}</button>
                <button type="button" class="btn dropdown-toggle">
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="rate in refreshRates">
                        <a href="#/status/network" ng-click="setRefreshRate(rate)">{{rate.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <span class="glyphicon glyphicon-flash"></span>&nbsp;Interface&nbsp;
            <div class="btn-group" dropdown>
                <button type="button" class="btn">{{selectedWirelessInterface}}</button>
                <button type="button" class="btn dropdown-toggle">
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="iface in wirelessInterfacesList">
                        <a href="#/status/network" ng-click="setSelectedWirelessInterface(iface)">{{iface}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">&nbsp;</div>
    
    <div class="row">
        <div class="col-lg-8">
            <strong>Neighbors</strong></br>
            <div style="border: 1px solid #ccc; width: 720px; float: left">
                <highchart id="neighlist" config="neighborsListConfig"></highchart>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row"><strong>Neighbor</strong>&nbsp;&nbsp;{{macAndIp}} </div>
            <div class="row">
                <div style="border: 1px solid #ccc; width: 480px; float: left">
                    <highchart id="neighwatch" config="neighborWatchConfig"></highchart>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row" style="width: 480px; float: left">
                <div class="col-lg-6" style="border: 1px solid #ccc; width: 230px; height: 170px; float: left">
                    <highchart id="neightxstats" config="neighborTxStatsConfig"></highchart>
                </div>
                <div class="col-lg-6" style="border: 1px solid #ccc; width: 230px; height: 170px; float: right">
                    <highchart id="neighrates" config="neighborRatesConfig"></highchart>
               </div>
            </div>
        </div>
    </div>
</div>
