body {
  padding-top: 50px;
}

.tab-content .lead {
    margin-top: 20px;
}

.result-table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
}

.result-table td {
    padding: 8px;
}

.result-table > tbody > tr > td:first-child {
    width: 25%;
    max-width: 300px;
    text-align: right;
}

.netStoredWirelessConfigGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 1120px;
    height: 150px;
}

.netStoredWiredConfigGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 730px;
    height: 150px;
}

.netCurrentWirelessConfigGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 980px;
    height: 94px;
}

.netWirelessIfaceGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 920px;
    height: 94px;
}

.netWiredIfaceGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 540px;
    height: 94px;
}

.netCurrentWiredConfigGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 580px;
    height: 94px;
}

.meshLinksGridStyle {
    border: 1px solid rgb(212,212,212);
    font-size: 12px;
    width: 640px;
    height: 150px;
}

.meshRoutesGridStyle {
    border: 1px solid rgb(212,212,212);
    font-size: 12px;
    width: 520px;
    height: 150px;
}

.ngRow.selected{
  font-weight: bold;
  color: white; 
  background-color:#FF6060;
}

.row-padded {
    padding: 35px;
    background-color: #F7F7F7;
    border: 1px solid #DDD;
}
