<div ng-init="init()"></div>

<div class="page-header">
    <b><span class="glyphicon glyphicon-cloud"></span> Network configurations </b>
</div>

<div class="container-fluid">
           
    <div class="row"><kbd>Wireless</kbd></div>
    
    <div class="row">&nbsp;</div>

    <div class="row">
        <strong>Current state</strong></br>
        <div class="netWirelessIfaceGridStyle" ng-grid="wirelessIfaceStateGridOptions"></div>
    </div>
    
    <div class="row">
        <button ng-click="refreshIfaceState()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    </div>
    
    <div class="row">&nbsp;</div>
    
    <div class="row">
        <strong>Current configuration</strong></br>
        <div class="netCurrentWirelessConfigGridStyle" ng-grid="wirelessCurrentConfigGridOptions"></div>
    </div>
    
    <div class="row">
        <button ng-click="refreshCurrentWireless()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    </div>
    
    <div class="row">&nbsp;</div>

    <div class="row">
        <strong>Stored configurations</strong></br>
        <div class="netStoredWirelessConfigGridStyle" ng-grid="wirelessConfigGridOptions"></div>
    </div>
    
    <div class="row">
        <button ng-click="addWirelessConfigRow()"><span class="glyphicon glyphicon-plus"></span> New Config</button>
        <button ng-click="refreshWirelessConfig()"><span class="glyphicon glyphicon-refresh"></span> Refresh from DB</button>
    </div>
    
    <div class="row">&nbsp;</div>

    <div class="row"><kbd>Wired</kbd></div>
    
    <div class="row">&nbsp;</div>
    
    <div class="row">
        <strong>Current state</strong></br>
        <div class="netWiredIfaceGridStyle" ng-grid="wiredIfaceStateGridOptions"></div>
    </div>
    
    <div class="row">
        <button ng-click="refreshIfaceState()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    </div>
    
    <div class="row">&nbsp;</div>
    
    <div class="row">
        <strong>Current configuration</strong></br>
        <div class="netCurrentWiredConfigGridStyle" ng-grid="wiredCurrentConfigGridOptions"></div>
    </div>
    
    <div class="row">
        <button ng-click="refreshCurrentWired()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    </div>
    
    <div class="row">&nbsp;</div>

    <div class="row">
        <strong>Stored configurations</strong></br>
        <div class="netStoredWiredConfigGridStyle" ng-grid="wiredConfigGridOptions"></div>
    </div>
    
    <div class="row">
        <button ng-click="addWiredConfigRow()"><span class="glyphicon glyphicon-plus"></span> New Config</button>
        <button ng-click="refreshWiredConfig()"><span class="glyphicon glyphicon-refresh"></span> Refresh from DB</button>
    </div>
    
    <div class="row">&nbsp;</div>
</div>
